[submodule "gora-backend"]
	path = gora-backend
	url = https://github.com/ehaakdl/gora-backend.git
[submodule "gora-common"]
	path = gora-common
	url = https://github.com/ehaakdl/gora-common
[submodule "gora-server"]
	path = gora-server
	url = https://github.com/ehaakdl/gora-server.git
[submodule "gora-infla"]
	path = gora-infla
	url = https://github.com/ehaakdl/gora-infla.git
[submodule "gora-web"]
	path = gora-web
	url = https://github.com/ehaakdl/gora-web.git
